<h1>Score</h1>
  <p>The color was: #<%= @computer_color.rgbvalue %>  and you said: #<%= @players_rgbvalue %> </p>
  <p class="big-type"> <%= @score.round(0) %> percent right
  <%= "!!!!!" if  @score.round(0) == 100 %>
  </p>
  <% if @colors_left > 0 %>

    <p>There are <%= @colors_left.round(0) %> colors left in this set</p>

  <% else %>
    <p class="big-type"> Congratulations! You finished the set.</p>
     <p class="big-type"> Final Score <%= @cumulative_score.round(0) %>/<%= @max_possible_score.to_s %>
    </p>
    <%= link_to 'New Game', root_path, class: "btn btn-small btn-success"%>
  <% end %>