<!DOCTYPE html>
<html>
<head>
  <title>Hex</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="hex-ui">
      <div class="navbar navbar-inverse">
       <div class="navbar-inner">
          <ul class="nav">
            <li class="<%= 'active' if current_page?(colors_help_path) %>"><a href="/colors/help" class="help">Help</a></li>
            <li class="<%= 'active' if current_page?(color_path(:easy)) %>"><a href="/colors/fresh/easy" class="easy">Easy</a></li>
            <li class="<%= 'active' if current_page?(color_path(:medium)) %>"><a href="/colors/fresh/medium">Medium</a></li>
            <li class="<%= 'active' if current_page?(color_path(:hard)) %>"><a href="/colors/fresh/hard">Hard</a></li>
            <li class="<%= 'active' if @timer %>"><a href="/colors/timer_toggle" class="timer">Timer Toggle</a></li>

            <li><a href="#" onclick="return false;" class="score-bar">
              <% if @cumulative_score %>
              <%= render "shared/scorebar" %>
              <% end %></a></li>
            <li><a href="#" onclick="return false;" class="timer-bar">
                <%= render "shared/timerbar" %>
              </a></li>
          </ul>

       </div>
      </div>

      <div class="myclass" style="background-color: <%= '#'+@computer_color.rgbvalue %>;
        <% if @computer_color.is_dark? %>
          color: #fff
        <% else %>
          color: #000
        <% end %>
          ">
        <div class="container min-pad">
          <%= yield %>
        </div>


      </div>
  </div>
  <div class="about">
    <p>This Ruby on Rails application was built by <a href="http://www.pfranzini.com" target="_blank">Paula Franzini</a>, with much invaluable counsel from
    <a href="http://www.aomran.com" target="_blank">Ahmed Omran</a>,  during <a href="http://www.hackeryou.com" target="_blank">HackerYou's</a> Summer Academy.</p>
  </div>
</body>
</html>
